footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-color: #333333;
    color: #eeeeee;
    padding-bottom: 1rem;

    & div {
        margin: 0 1rem;

        & ul {
            padding: 0;
            margin: 0;

            & li {
                list-style-type: none;
                line-height: 150%;
            }
        }
    }
}

@media all and (max-width: 580px) {
    footer {
        grid-area: footer;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
